a {
    text-decoration: none;
}

#main-container {
    max-width: 1500px;
}

#experiment-container {
    max-width: 1000px;
}

.experiment-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}
